Hello <%= current_user.name %>,


<h3> Your makeup is </h3>
<%= @user.makeups.first.brand %> <br/>
<%= @user.makeups.first.product %><br/>
<%= @user.makeups.first.shade %>
<br><%= link_to 'Add new makeup', makeups_path %>
<br>
<br>
<h3> Your true shade is </h3>
<%= @user.makeups.first.true_shade.name %>
<br><%= @user.makeups.first.true_shade.description %>
<br><%= link_to 'Find other makeups in your True Shade', makeups_path %>
<br>
<br>
<h3> This is your collection list </h3>
<% @user.makeups.each do |m| %>
  <%= m.brand %> <br>
  <%= m.product %> <br>
  <%= m.shade %> <br>
<% end %> 

<br><%= link_to 'Log Out', session_path, method: :delete %>



