<div class="trueshade">
  <div class="row">
    <div class="large-12 column">
      <div class="resultcontainer">
        <h1>Your true shade is . . .</h1>
        <h2><b><%= @user.makeups.first.true_shade.name %></b></h2>
        <p><%= @user.makeups.first.true_shade.description %></p>
      </div>
    </div>
  </div>

<div class="row">
  <div class="large-4 column">
    <div class="leftbox">
      <h5>Find other foundations that match your true shade from a wide variety of brands.&nbsp;&nbsp;<a id="more"><%= link_to 'More', makeups_path %></a></p>
      <h5>If you can't find your makeup, add it here:&nbsp;&nbsp;<a><%= link_to 'Add', makeups_path %></a></p>

    </div>
    <div class="large-8  column">
      <div class="rightbox">
        <h2>Your Collection</h2>  
          <% @user.makeups.each do |m| %>
          <p><b>Brand: </b><p>
          <p><%= m.brand %></p><br/>
          <p><b>Product: </b><%= m.product %></p><br/>
          <p><b>Shade: </b><%= m.shade %></p><br>
          <div id="makeupimg"><%= image_tag(m.image) %><br/>
          </div>
          <div class="line"></div>
          <% end %>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>

