<!DOCTYPE html>
<html>
<head>
  <style>

</style>
</head>
<body>
<div class="welcomePageBackground">
  <div class = "large-9 columns" id="logo">
    <h1 class="landtitle"><%=link_to "Makeup Shade Guide", root_path %></h1>
  </div>

  <!-- Start of Foundation Orbit -->
  <div id="headcontain" class="row">
    <div class="orbitContainer" data-orbit>
      <li>
        <%= image_tag("coverphoto_small.jpg", :alt => "" ) %>
      </li>
      <li>
        <%= image_tag("f1.jpg", :alt => "") %>
      </li>
      <li class="active">
        <%= image_tag("f2.jpg", :alt => "") %>
      </li>
      <li>
        <%= image_tag("f3.jpg", :alt => "") %>
      </li>
    </div>
  </div>
  <!-- End of Orbit -->

  <!-- Start of AboutUs -->
  
  <div class="row aboutUs">
    <div class="large-6 columns">
      <h3 class="whoarewe">Who are we?</h3>

      <p class="aboutUsContent">
        Makeup Shade Guide standardizes the thousands of foundations into set "true shades" for women to make cosmetic shopping an easier and more pleasant experience. Users sign up, enter their current matching foundation shade(s), and Makeup Shade Guide will generate other matching foundations. The more users that join, the more [accurate] the foundations will be. Try it out!
      </p>

    </div><!-- end of large 6 -->

    <div class="large-3 columns">
      <div class="photo1 th"></div>
      <div class="photo2 th"></div>

    </div><!-- end of large 6 -->

    <div class="large-3 columns">
     <div class="photo3 th"></div>
     <div class="photo4 th"></div>
   </div>
 </div><!-- end of row -->

 <!-- End of AboutUs -->
</body>
</html>

