<h1>Makeups#index</h1>
<p>Find me in app/views/makeups/index.html.erb</p>

<%= link_to 'Add a makeup', new_makeup_path %>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Product</th>
      <th>Shade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @makeup.true_shade.each do |makeup| %>
      <tr>
        <td><%= makeup.brand %></td>
        <td><%= makeup.product %></td>
        <td><%= makeup.shade %></td>
        <td><%= link_to 'Show', makeup %></td>
        <td><%= link_to 'Edit', edit_makeup_path(makeup) %></td>
        <td><%= link_to 'Destroy', makeup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Log Out', session_path, method: :delete %>


