<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <!-- <link href="../../css/reset.css" type="text/css" rel="stylesheet" /> -->
  <style>


    #makeup-list-container {
    /*float: left;*/
    width: 1000px;
    height: 800px;
    background-color: white;
    position: relative;
    display: inline-block;
    }

    .single-makeups {
    display: inline-block;
    width: 200px;
    height: 250px;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    }

    body {
      text-align: center;
    }

    .makeups-list-image {
    width: 100px;
    height: 150px;
    margin: 35px;
    }

    .links {
    clear: both;
    padding-top: 250px;
    }
  </style>
  <!-- 
  var MUSG-final2 = angular.module('MUSG-final2', []);
  MUSG-final2.controller('MakeupCtrl', ['$scope', '$http', function (scope, http) {
    http.get('makeups.json').success(function(data) {
      scope.makeups = data;
    });
  }]); -->
  
  </head>
  <body>
    </br></br>
    <div class="makeup-matches">
      <h2><%= current_user.name %>'s <%= @current_user.makeups.first.true_shade.name %> Shade Matches:</h2>
          <div id="makeup-list-container">
            <div class="makeups-list">
              <br><% @makeups.each do |makeup| %>
                <div class="single-makeups">
                  <p>
                  </br><%= makeup.brand %>
                  </br><%= makeup.product %>
                  </br><%= makeup.shade %>
                  </br><div class="makeups-list-image"><%= image_tag(makeup.image) %></div>
                  </br><%= link_to 'Show', makeup %>
                  </br><%= link_to 'Edit', edit_makeup_path(makeup) %>
                  </br><%= link_to 'Add to collection', user_makeups_path(makeup_id: makeup.id), method: :post %>
                  </p>
                <!-- <td><%#= link_to 'Destroy', makeup, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                </div>
          <% end %>
            </div>
          </div>

        
        <br>
        <div class="links">
          </br><h4><%= link_to 'Makeup not on the list? Add it here!', new_makeup_path %>
          <br>
          <br><h4><%= link_to "Back to your list", user_path(current_user.id) %>
        </div>

    </div>
    <!-- 
    x = current_user.true_shade_id
    Makeup.find([:true_shade_id]) -->
  </body>
</html>
<!-- 
x = current_user.true_shade_id
Makeup.find([:true_shade_id]) -->









