<br/>
<br/>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <!-- Users makeup pick -->
      <h2><%= @makeup.brand %></h2>
      <br><%= @makeup.product %><p><p/><%= @makeup.shade %><br/>
      <p><%= @makeup.description %></p>
  </div>
</div>
<div class="row">
  <div class="large-5 columns ">
    <div class="panel">
       <div class="makeupimages">
          <%= image_tag("/assets/makeup/#{@makeup.image}") %>
      </div><br/><br/>
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
      </div>
  </div>
</div>
<div class="large-6 columns">
    <div class="row">
       <div class="large-12 columns">
          <div class="panel">
              <% @makeup.reviews.each do |review| %>
              Review:  "<%= review.comment %>"<br>
              Rating:   <%= review.rating %><br>
              -- <%= review.user.name %><br>
              <hr/>
              <% end %>
          </div>
      </div>


      <div class="d3rendered">
       <%= render 'partials/data' %>
   </div>
</div>
</div>
</div>
</div>
<div class="custom-button-class">
    <ul>
      <li><%= link_to 'Add a makeup', new_makeup_path, :class => 'small button radius' %></li><br>
      <li><%= link_to "Review makeup", new_review_path(makeup_id: @makeup.id), :class => 'small button radius' %></li><br>
      <li><%= link_to "Back to makeup list", makeups_path, :class => 'small button radius' %></li><br>
      <li><%= link_to 'Add to collection', user_makeups_path(user_id: current_user.id, makeup_id: @makeup.id), method: :post, :class => 'small button radius' %>
  </ul>
</div>
<footer class="row">
    <hr/>
    <div class="large-5 columns">
      <p>© Copyright MakeupShadeGuide.</p>
  </div>
</div>
</div>
</footer>