<br/>
<br/>
<div class="row">
  
    <div class="panel">
      <!-- Users makeup pick -->
      <table>
        <tr>
          <td class="makeup-info"><h2><%= @makeup.brand %>
          <br><%= @makeup.product %>
          <br><%= @makeup.shade %>
          <p></br><%= @makeup.description %></h2></td>
          <td class="makeup-show-image"><p><%= image_tag("/assets/makeup/#{@makeup.image}") %></p></td>
        </tr>
      </table>
  </div>

</div>

<div class="large-6 columns">
    <div class="row">
       <div class="large-12 columns">
          <div class="panel">
              <% @makeup.reviews.each do |review| %>
              Review:  "<%= review.comment %>"<br>
              Rating:   <%= review.rating %><br>
              -- <%= review.user.name %><br>
              <hr/>
              <% end %>
          </div>
      </div>     
</div>
</div>


<div class="custom-button-class">
    <ul>
      <li><%= link_to 'Add a makeup', new_makeup_path, :class => 'small button radius' %></li><br>
      <li><%= link_to "Review makeup", new_review_path(makeup_id: @makeup.id), :class => 'small button radius' %></li><br>
      <li><%= link_to "Back to makeup list", makeups_path, :class => 'small button radius' %></li><br>
      <li><%= link_to 'Add to collection', user_makeups_path(user_id: current_user.id, makeup_id: @makeup.id), method: :post, :class => 'small button radius' %>
  </ul>
</div>


<div class="d3rendered">
       <%= render 'partials/data' %>
   </div>


   
