<h2><%= @makeup.brand %>
<br><%= @makeup.product %>
<br><%= @makeup.shade %></h2>

<%= image_tag("/assets/makeup/#{@makeup.image}") %>
<%= @makeup.image %>


<br><% @makeup.reviews.each do |review| %>
	<%= review.comment %><br>
	<%= review.rating %><br>
	- <%= review.user.name %><br>
<% end %>



<br><%= link_to 'Add a makeup', new_makeup_path %>

<br><%= link_to "Review makeup", new_review_path(makeup_id: @makeup.id) %>

<br><%= link_to "Back to makeup list", makeups_path %>

<br><%#= link_to "Back to your list", user_path %>
