<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<%= form_for @review do |f| %>
			<%= f.text_area :rating, placeholder: 'rating' %>
            <%= f.text_area :comment, placeholder: 'review goes here' %>
            <%= hidden_field_tag :makeup_id, params[:makeup_id] %>
            <%= f.submit %>
        <% end %>