<h1>Reviews</h1>

<!-- testing -->
<%= form_for @review do |f| %>
			<%= f.text_area :rating, placeholder: 'rating' %>
            <%= f.text_area :comment, placeholder: 'review goes here' %>
            <%= hidden_field_tag :makeup_id, params[:makeup_id] %>
            <%= f.submit %>
        <% end %>