<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Makeup Shade Guide" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
        <%= javascript_include_tag "d3" %>

    <%= csrf_meta_tags %>
    <style>
    /*.orbit-slides-container{
  height: 1000px; 
  width: 1000px;
}*/
    </style>
  </head>

  <body>
    <%= render 'partials/nav' %>
    <div class="container">
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <div/>

  </body>
</html>