<!DOCTYPE html>
  <html lang="en" ng-app="MUSG-final2">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title><%= content_for?(:title) ? yield(:title) : "Makeup Shade Guide" %></title>
        <%= stylesheet_link_tag    "application", media: "all" %>
        <%= javascript_include_tag "vendor/modernizr" %>
        <%= javascript_include_tag "d3" %>
        <%= csrf_meta_tags %>
      <style>
      .orbit-slides-container {
        height: 1000px; 
        width: 1000px;
      }
      </style>
    </head>
  <body>

    <%= render 'partials/nav' %>

    <div class="container">
      <%= yield %>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
      <%= javascript_include_tag "application" %>
    </div>

  </body>
</html>